<h2>Recipe Name: <%= @recipe.title %></h2>

<h3>Ingredients:</h2>

<% if !@recipe.ingredients.empty? %>
  <ul>
  <%= f.fields_for :ingredients do |ingredient| %>
  <li>
    name: <%= ingredient.text_field :name %>
    qty: <%= ingredient.text_field :quantity %>
  </li>
<% end %>
